
/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
}

/* header element stylings */
h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000
}

header{
    background-color: #4024df;
    background-image: linear-gradient(to right, rgba(53, 48, 57, 0.2), rgba(112, 32, 177, 1)  );
    padding: 1rem;

    margin-top: 50px;
    z-index: 99;
    width: 90%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}


main{
    width: 90%;
    padding: 20px;
    background-color: brown;
    background-image: linear-gradient(rgba(53, 48, 57, 0.2), rgba(112, 32, 177, 1)  );
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

main>div {
    margin: 30px;
}

#difficulty-buttons {
    margin-top: 20px;
}

#score {
    display: flex;
    justify-content: space-between;
}

#timer {
    margin-top: 20px;
}

#memory-game{
    background-color: darkcyan;
    border-radius: 8px;
    padding: 20px;
    margin-top: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

.card {
    width: 80px;
    height: 100px;
    background-color: #3498db;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.7s ease;
  }

  .card .value {
    display: none;
  }

  .flip {
    background-color: grey;
    
  }

  .flip > .value {
    display: block;
  }