
/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #d8ebb5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
}

/* header element stylings */
h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
    text-align: center;
}

header{
    padding: 1rem;
    margin: 20px;
    z-index: 99;
    width: 90%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}


main{
    padding: 10px;
    background-color: #639a67;
    background-image: linear-gradient(rgba(53, 48, 57, 0.2), #d9bf77 );
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 300px;
    min-width: 270px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px inset, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
} ;
   


main>section {
    margin: 10px;
}

#rule-window{
    z-index: 99;
    text-align: start;
}

ol {
    padding-left: 12px;
}


.rule-title{
    text-decoration: underline;
    font-weight: bold;
}

.game-mode{
    font-style: italic;
}


#home-question{
    padding: 20px 5px;
}

 #game-start {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    width: 100%;
} 

#game-options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button {
    box-shadow: rgba(93, 90, 50, 0.25) 0px 50px 100px -20px inset, rgba(217, 194, 61, 0.3) 0px 30px 60px -30px, rgba(64, 62, 10, 0.35) 0px -2px 6px 0px inset;
    background-color: #d9bf77;
    border-radius: 8px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

button:hover {
    background-color: #530c0c;
    color: #d8ebb5;
}

#game-options > button {
    width: 90%;
    margin: 10px;
    
}

#gradual-button{
    margin-bottom: 20px;
}


#difficulty-buttons {
    position: relative;
    width: 120%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


.streak-area{
    padding-top: 15px;
}

.win-streak {
    text-align: center;
    font-size: small;
}

.win-streak-text {
    font-size: xx-small;
    position: absolute;
    bottom: -1px;
    left: 20px;
  }


#score {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 30px;
}

#total-wins{
    text-align: end;
}

#win,#time {
    align-self: flex-end;
    margin-bottom: 15px
}

.fail {
    align-self: flex-start;
}



#timer {
    margin-top: 20px;
}

#memory-game{
    border-radius: 8px;
    padding-top: 20px; 
    margin-bottom: 40px; 
    width: 80vw;
    max-width: 460px;
}

#i-button{
    display: block;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }

.card {
    width: 100%;
    height: 80px;
    background-color: #530c0c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.7s ease;
  }

  .card:hover {
    box-shadow: rgba(255, 255, 255, 0.359) 0px 50px 100px -20px inset, rgba(255, 255, 255, 0.292) 0px 30px 60px -30px, rgba(255, 255, 255, 0.35) 0px -2px 6px 0px inset;
  }

  .card .value {
    display: none;
  }

  .flip {
    background-color: rgb(255 255 255 / 45%)
    
  }

  .disabled:hover {
    box-shadow: none
  }

  .flip:hover {
    box-shadow: none;
  }

  .flip > .value {
    display: block;
  }

  img {
    width: 95%;
}

#end-game {
    display: flex;
    justify-content: center;
    padding: 0;
}

.ending-image{  
    width: 50px;
    height: 50px;
}

.ending-lines{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 500px;
    z-index: 100;
    min-height: 100px;
    min-width: 240px;
    border-radius: 8px;
    border: solid 2px black;
}

#game-done{
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#game-done > h3 {
    color: #d2c6c6;
    margin-bottom: 10px;
}

#game-over{
    display: flex;
    background: rgb(124,109,68);
    background: radial-gradient(circle, rgba(124,109,68,1) 0%, #121218 100%);
}

#game-over > h3{
    color: #390000;
    text-shadow: 2px 2px 2px #bd0909;
    margin-bottom: 5px;
}

  .back-button{
    width: 136px;
    margin-top: 5px;
  }

  @media screen and (min-width: 500px) {


    main {
        min-height: 400px;
        min-width: 400px;
        max-width: 450px;
    }

    main > section {
        padding: 20px;
    }

    

    #memory-game{
        padding: 20px;
    }

    .card {
        height: 100px;
    }

    img {
        width: 90px;
        height: 90px
    }

    .ending-image {
        width: 50px;
        height: 50px;
    }

    .win-streak-text {
        font-size: small;
        position: absolute;
        bottom: -10px;
        left: 22px;
      }

    }