
/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #d8ebb5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
}

/* header element stylings */
h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000
}

header{
    padding: 1rem;
    margin: 20px;
    z-index: 99;
    width: 90%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}


main{
    /* width: 90%; */
    padding: 10px;
    background-color: #639a67;
    background-image: linear-gradient(rgba(53, 48, 57, 0.2), #d9bf77 );
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    
}

main>div {
    margin: 10px;
}

 #game-start {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} 

#game-options {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#game-options > button {
    width: 80px;
    margin: 10px;
}

#difficulty-buttons {
    margin-top: 20px;
}

#score {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 30px;
}

#total-wins{
    text-align: end;
}

.win {
    align-self: flex-end;
    margin-bottom: 15px
}

.fail {
    align-self: flex-start;
}



#timer {
    margin-top: 20px;
}

#memory-game{
    /* background-color: #d9bf77; */
    border-radius: 8px;
    padding-top: 20px; 
    margin-bottom: 10px; 
    width: 80vw;
    max-width: 460px;
}

#memory-game > div {
    /* padding-top: 20px; */
}

.cards {
    /* display: flex;
    flex-wrap: wrap; */

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }

.card {
    width: 100%;
    /* flex: 1 0 25%;
    margin: 5px; */
    height: 100px;
    background-color: #530c0c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.7s ease;
  }

  .card .value {
    display: none;
  }

  .flip {
    background-color: grey;
    
  }

  .flip > .value {
    display: block;
  }

  @media screen and (min-width: 1200px) {

    main > div {
        padding: 20px;
    }

    #memory-game{
        padding: 20px;
    }

  }